@page "/mainpage"
@layout MainLayout
@inject EmpireState State
@attribute [Authorize]
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager uriHelper
@inject ISnackbar Snackbar


<div class="login-box p-5 d-flex flex-column responsivefontheader" style="background-color: rgba(0,0,0,0.7); color: white; border-radius: 50px;">
    <h1 class="text-center responsivefontheader">Örülünk, hogy újra látunk a @if (State is not null && State.Empire is not null) {@State.Empire.Name } birodalom élén, @if (State is not null && State.Empire is not null) {@State.Empire.UserName }!</h1>
</div>

@code { 
    protected async override Task OnInitializedAsync()
    {
        await State.InitializeAsync(uriHelper, HttpClientFactory, Snackbar);
    }
}
