@page "/confirm-email"
@using GalacticEmpire.Api.Areas.Identity.Pages.Account
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email megerősítése";
}

<div class="login-box p-5" style="background-color: rgba(0,0,0,0.7); color: white; border-radius: 50px;">
    <h1>@ViewData["Title"]</h1>
     <a href="/">Vissza a főoldalra.</a>
</div>