@page "/forgot-password-confirmation"
@using GalacticEmpire.Api.Areas.Identity.Pages.Account
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Új jelszó megerősítése";
}

<div class="login-box p-5" style="background-color: rgba(0,0,0,0.7); color: white; border-radius: 50px;">
    <h1>@ViewData["Title"]</h1>
    <p>
        Kérlek nézd meg az emailedet és erősítsd meg az új jelszavadat.
    </p>
</div>

