@page "/register-confirmation"
@using GalacticEmpire.Api.Areas.Identity.Pages.Account
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Regisztráció megerősítése.";
}
<div class="login-box p-5" style="background-color: rgba(0,0,0,0.7); color: white; border-radius: 50px;">
    <h1>@ViewData["Title"]</h1>
    @{
        if (@Model.DisplayConfirmAccountLink)
        {
    <p>
        Nincs email küldő szolgáltatás implementálva.
        <a id="confirm-link" href="@Model.EmailConfirmationUrl">Kattintsd ide, hogy megerősítsd a jelszavad.</a>
    </p>
        }
        else
        {
    <p>
            Nézd meg az emaileidet, hogy megerősítsd a regisztrációd.
    </p>
        }
    }
    <a href="/">Vissza a főoldalra.</a>
</div>