@page "/reset-password-confirmation"
@using GalacticEmpire.Api.Areas.Identity.Pages.Account
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Jelszó visszaállítás megerősítése";
}

<div class="login-box p-5" style="background-color: rgba(0,0,0,0.7); color: white; border-radius: 50px;">
    <h1>@ViewData["Title"]</h1>
    <p>
        A jelszó visszaállítása sikeres volt. Kérlek <a asp-page="./Login">kattints ide a bejelentkezéshez.</a>.
    </p>
</div>